@model MySecondBrain.Application.ViewModels.NoteDetailViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div>
                <div class="mb-5">
                    <div>
                        <h1>Créer une note</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="d-block d-md-flex listing list-group-horizontal-xl">
        <div class="lh-content">

            @using (Html.BeginForm("PostCreate", "Notes", FormMethod.Post))
            {
                <div class="p-5 bg-white">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="text-black">Nom de la note</div>
                            @Html.TextBoxFor(m => m.Note.Titre, new { cols = "30", rows = "7", @class = "form-control", required = "required", pattern = "[A-Za-z0-9 ]{4,20}", title = "This field is required" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="text-black">Description de la note</div>
                            @Html.TextBoxFor(m => m.Note.Description, new { cols = "30", rows = "7", @class = "form-control" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="text-black">Contenu</div>
                            @Html.TextAreaFor(m => m.Note.Contenu, new { cols = "30", rows = "7", @class = "form-control", placeholder = "Enter text here", required = "required", title = "This field is required" })
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="text-black">New tag? Enter name here: </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">

                            <input type="submit" value="Create note" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

    <a asp-area="" asp-controller="Notes" asp-action="Index">Notes</a>

</div>